:root {
    --primary-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --slate: #434455;
    --navyblue: #2E2F42;
    --white: #FFFFFF;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --lightslate: #8E8F99;
    --green:#31D0AA;
    --whiteblue: #fcfcfc;
    --cornflower: #e7e9fc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--slate);
    background-color: var(--white);
}

/** ---------------------Reset-----------------**/

h1, h2, h3, h4, h5,h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;

}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:active {
    color: var(--ocean);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** ------------------HEADER----------------- */
.header {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: var(--logo-font);
    font-weight:800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
  }

.header-logo-span {
    color: var(--navyblue);
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-list-item {
    padding: 24px 0;
}

.navigation-list-link {    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: var(--ocean);
}
.current::after {
    content:"";
    position: absolute;
    left: 0;   
    bottom: -1px;
    height: 4px;   
    width: 100%;
    border-radius: 2px;
    display: block;
    background-color: var(--ocean);
}

.navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--ocean);
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover, .header-address-link:focus {
    color: var(--ocean);
}

.header-address-item {
    margin-left: 40px;
}

/*! ------------------------section-one------------*/


.section-one {
    background-color: var(--navyblue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
}

.section-one-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.section-one-btn {
    font-family: var(--primary-font);
    background-color: var(--iris);
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-btn:hover, section-one-btn:focus{
    background-color: var(--ocean);
}

/*!--------------------------section-two----------------*/
.section-two {
    padding-bottom: 120px;
}

.title-general {
    font-weight:500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.text-general {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.section-two-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-top: 120px;
}

.section-dop-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--cloud);
    position: relative;
    margin-bottom: 8px;
}

.section-dop-icon {
    max-width: 64px;
    padding: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-general {
    margin-bottom: 8px;
}

.section-two-element {
    width: calc((100% - 3 * 24px) / 4);
}

/*!------------------------section-three-------------------*/

.section-three {
    padding-bottom: 120px;
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.section-three-list {
    display: flex;
    gap: 24px;
}

.section-three-element {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

/*!------------------------section-four------------------*/

.section-four {
    background-color: var(--cloud);
    padding: 120px 0;
}

.section-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.section-four-list {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 24px;
}

.section-four-item {
    background-color: var(--white);
    text-align: center;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-title {
    width: 232px;
    height: 176px;
    padding: 32px 0;
    margin: auto;
}

.section-four-svg-element {
    width: 40px;
    height: 40px;
}

.section-four-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.section-four-link:hover, .section-four-link:focus {
    background-color: var(--ocean);
}


.section-four-svg {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 12px;

}

.img-svg-osnova {
    fill:var(--cloud);
}

/*!---------------section-five----------------------*/
.section-five {
    padding: 120px 0;
}
.section-five-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    margin-bottom: 72px;
}

.section-five-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.section-five-item {
    height: 88px;
    width: calc((100% - 5 * 24px) / 6);
    position: relative;
}

.section-five-link {
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightslate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five-link:hover, .section-five-link:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}

.section-five-img {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five-img:hover, 
.section-five-img:focus {
    fill: var(--iris);
}


/*!------------------------footer-------------------*/

.footer {
    background-color: var(--navyblue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo{
    margin-right: 120px
}

.footer-logo-link {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    display: inline-block;
    margin-bottom: 16px;
    max-width: 264px;
}

.foote-logo-span {
    color: var(--cloud);
}

.footer-logo-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-title {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social {
margin-right: 80px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-svg {
    width: 24px;
    height: 24px;
    fill: var(--cloud);
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: var(--green);
}

.form-subscrie {
    display: flex;
    gap: 24px;
}

.p-subscribe {
    font-weight: 500;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.input-subscribe {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 4px;
    background: transparent;
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.input-subscribe::placeholder {
    color: var(--white);
}

.button-subscribe {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--iris);
    border: none;
}  

.svg-subscribe {
    margin-left: 16px;
}


/*!------------------------section--portfolio-------------------*/

.portfolio {
    padding: 96px 0 120px 0;
}

.portfolio-menu-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-menu-item-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    text-align: center;
    cursor: pointer;
    padding: 12px 24px 12px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item-btn:hover, 
.portfolio-menu-item-btn:focus {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    border: 0.5px solid var(--cloud);
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover, .portfolio-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-img {
    object-fit: cover;
}
.portfolio-item-card {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top:none;
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .overlay-text,
.portfolio-item-link:focus .overlay-text {
    transform: translateY(0%);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}

/*!-------------Modal--------------------------*/

.backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: var(--whiteblue);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    background-color: var(--cornflower);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean);
    border: none;
}

.modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-btn:hover .modal-svg {
    fill: var(--white);
}

.modal-btn:focus .modal-svg {
    fill: var(--white);
}

.modal-text {
    color: var(--navyblue);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
}

.form-field {
    margin-bottom: 8px;
    width: 360px;
}

.form-label {
    color: var(--lightslate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.form-box {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
}

.form-input:focus + .form-img{
    fill: #4D5AE5;
}

.form-input:focus-within {
    border-color: var(--iris);
}

.form-img {
    width: 18px;
    height: 24px;
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea {
    margin-bottom: 8px;
    width: 360px;
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
color: rgba(117, 117, 117, 0.50);
}

.form-textarea:focus-within {
    border-color: var(--iris);
}

.form-field-checkbox {
    display: flex;
    border: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 8px;
    margin-bottom: 24px;
}

.form-checkbox {
    width: 16px;
    height: 16px;
}

.checkbox-label {
    color: var(--lightslate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;   
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .checkbox-label .checkbox-label-span {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.checkbox-label-a {
    color: var(--iris);
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
    background-color: var(--ocean);
}